@import "./styles.scss";

.docs{
    $menu-width: 200px;
    .menus{
        width: $menu-width;
        display: none;       
    }
    .menus-placeholder{
        display: none;
        width: $menu-width;        
    }
    .content{
        width: 100%;
    }

    @include media-breakpoint-up(md) {
        .menus{            
            display: block;            
        }
        .menus-placeholder{
            display: block;
        }
        .menus-expand{
            display: none;
        }
        .content{
            width: calc(100% - $menu-width);
        }
    }
}