@import "./styles.scss";

.docs{
    $menu-width: 200px;

    .menus{            
        display: none;
    }
    .menus-placeholder{
        width: 0;
    }
    .content{
        width: 100%;
    }

    @include media-breakpoint-up(md) {
        .menus{
            width: $menu-width;
            display: block;
        }
        .menus-placeholder{
            width: $menu-width;
        }
        .menus-expand{
            display: none;
        }
        .content{
            width: calc(100% - $menu-width);
        }
    }
}