@import "./styles.scss";

.docs{
    
}

$menu-width: 200px;


@include media-breakpoint-up(xs) {
    .docs {      
        .menus{            
            // width: 0px;
            display: none;
        }
        .menus-placeholder{
            width: 0;
        }
        .content{
            width: 100%;
        }
    }
}

@include media-breakpoint-up(md) {
    .docs {      
        .menus{
            width: $menu-width;
            display: block;
        }
        .menus-placeholder{
            width: $menu-width;
        }
        .content{
            width: calc(100% - $menu-width);
        }
    }
}