nav{
    background-color: #563D7C;
    color: #1a033c;
    
    .nav-item{
        font-size: 1.3em;
        font-weight: bold;    
    }
    .navbar-collapse{
        background-color: inherit;
    }
}
  
  