nav{
    background-color: #563D7C;
    color: #1a033c;
    
    .nav-item{
        font-size: 1.3em;
        font-weight: bold;    
    }
    .navbar-collapse{
        background-color: inherit;
    }
}

@include media-breakpoint-up(sm) {
    nav {      
        .navbar-collapse{
            position: absolute;
            width: 100%;
        }
    }
}

@include media-breakpoint-up(md) {
    nav {      
        .navbar-collapse{
            position: static;            
        }
    }
}